<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="discussion_board_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <h1>Liam's Corner</h1>
    </header>
    <nav>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="/main" role="tab" aria-controls="v-pills-home" aria-expanded="true">Home</a>
        <a class="nav-link active" id="v-pills-discussions-tab" data-toggle="pill" href="/discussions" role="tab" aria-controls="v-pills-discussions" aria-expanded="true">Discussions</a>
        <a class="nav-link" id="v-pills-contact-tab" data-toggle="pill" href="/contact" role="tab" aria-controls="v-pills-contact" aria-expanded="true">Contact Info</a>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        <div class="tab-pane fade show active" id="v-pills-discussions" role="tabpanel" aria-labelledby="v-pills-discussions-tab">
          <% @discussion_posts.each do |post| %>
          <div class="post">
            <title><%= post.title =%></title>
            <a><=% post.description =%></a>
            <h6><=% post.created_at =%></h6>
            <% post.subposts.each do |subpost| %>
            <div class="subpost">
              <title><%= subpost.title =%></title>
              <a><%= subpost.description =%></a>
              <h6><%= subpost.created_at =%></h6>
            </div>
            <% end %>
            <button>Reply</button>
          </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">...</div>
      </div>
    </nav>
